name: Build iOS

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  binding:
    runs-on: macos-10.15
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.14.13'
      - name: Build
        run: make binding_ios
      - name: Compress
        run: tar -czvf output.tar.gz -C output/binding/ios .
      - if: ${{ startsWith(github.ref, 'refs/tags/') }}
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          asset_name: libopenpgp_bridge_ios_$tag.tar.gz
          file: output.tar.gz
          tag: ${{ github.ref }}
          overwrite: true
      - if: ${{ !startsWith(github.ref, 'refs/tags/') }}
        uses: actions/upload-artifact@v2
        with:
          name: libopenpgp_bridge_ios
          path: output.tar.gz