name: Tests and Coverage

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        go: [ '1.17', '1.14']
    name: Using Go ${{ matrix.go }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}
      - name: Tests
        run: make test
      - uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: profile.cov
          flag-name: Go-${{ matrix.go }}
          parallel: true

  finish:
    needs: tests
    runs-on: ubuntu-20.04
    steps:
      - uses: shogo82148/actions-goveralls@v1
        with:
          parallel-finished: true