name: Build WASM

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  binding:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.15'
      - name: Build
        run: make wasm
      - name: Compress
        run: tar -czvf output.tar.gz -C output/wasm .
      - if: ${{ startsWith(github.ref, 'refs/tags/') }}
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          asset_name: libopenpgp_bridge_wasm_$tag.tar.gz
          file: output.tar.gz
          tag: ${{ github.ref }}
          overwrite: true
      - if: ${{ !startsWith(github.ref, 'refs/tags/') }}
        uses: actions/upload-artifact@v2
        with:
          name: libopenpgp_bridge_wasm
          path: output.tar.gz